
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
    
}
.container{
    display: flex;
    height: 480px;
    width: 480px;
    flex-direction: column;
    
}
.box{
    flex: auto;
  

    
    
}
.row{
    display: flex;
    justify-content: center;
    
    flex: auto;
    
    
    
}


